.contentbox {
  height: 150px;
  width: 1800px;
  border: 2px solid black;
  /* display: inline; */
}

#content {
  height: 560px;
  width: 600px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
}
/* navbar code */
* {
  margin: 0;
  padding: 0;
  color: #a0600c;
}

.navbar {
  height: 60px;
  background-color: black;
  border: 2px solid white;
}

#sBtn {
  background-color: #f08804;
  color: black;
}

#logo {
  font-size: 25px;
  color: #f08804;
}

a {
  margin-right: 200px;
  text-decoration: none; /*for remove underline*/
  color: white;
}
